@font-face {
    font-family: "Inter-Bold";
    src:  url("../components/fontInter/Inter-Bold.otf");
}
  
.divTitle{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: "Inter-Bold";
    font-size: 24px;
    gap:7px;
    color: white;

    margin-bottom: 20px;
}

.textRec{
    color: rgba(255, 255, 255, 1);
 

    text-align: start;

    font-size: 20px;
}