@font-face {
    font-family: "Inter";
    src:  url("../components/fontInter/Inter-Light.otf");
}
@font-face {
    font-family: "Inter-Bold";
    src:  url("../components/fontInter/Inter-Bold.otf");
}
  
  
.background{
    background-image: url('../../public/public_image/cda058bb609e9a4f.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:25px;
}
.backgroundOpacityColor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(8,21,40,0.86);
    gap:40px;
}
.contentWrapper{
    background-color: rgba(255,255,255,0.07);
    width: 95vw;
    height: 85vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;

}
.contentLeftBox{
    width: 45vw;
    height: 80vh;
}
.contentRightBox{
    background-color: rgba(0,0,0,0.25);
    width: 45vw;
    height: 80vh;
}
.textForCity{
    text-align: left;
    color: #FFF;
    padding-top: 150px;
    font-family: "Inter-Bold";
    font-size: 48px;
    font-style: normal;
    line-height: normal;
}
.btnForBack{
    background-color: #427092;
    width: 15vw;
    height: 5vh;
    color: white;
    font-family: "Inter";
    font-size: 24px;
    font-style: normal;
    line-height: normal;
    border: none;
    margin-left: auto;
    margin-right: 2.5vw;
}
.btnForBack:hover{
    background-color: #5BA3D8;  
}
.checkBoxWrapper{
    margin-top: 70px;
    width: 20vw;
    height: 30%;
    background-color: #427092;
    opacity: 0.85;
}
.checkBoxTitle{
    display: flex;
    align-items: center;
    background-color: #5BA3D8;
    height: 4vh;
    font-family: "Inter";
    font-size: 24px;
    color: white;
    text-align: left;
    padding-left: 20px;
}

.wrapperForCheckBlock{
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px;
    height: 100%;
    display: flex;
    gap:10px;
    flex-direction: column;
    background-color: #427092;
    font-family: "Inter";
    font-size: 24px;
    line-height: normal;
    text-align: left;
    color: white;
}
.wrapperForCheckBlock::-webkit-scrollbar {
    width: 8px;
    height: 5px;
}

.wrapperForCheckBlock::-webkit-scrollbar-thumb {
    background-color: #5BA3D8; 
}
  
.wrapperForCheckBlock::-webkit-scrollbar-track {
    background-color: #245478;
}